:root {
  --size-blockquote: 1rem;
}
article img {
  height: 10rem;
  align-self: center;
}

article {
  display: flex;
  flex-direction: column;
}

main {
  padding: 2rem 10rem;
}

blockquote {
  border-left: var(--size-blockquote) solid #eac8c8;
  margin: calc(var(--size-blockquote) + 0.5rem) var(--size-blockquote);
  padding: 0 var(--size-blockquote);
}
